.header{
    background-color: var(--color-header);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
}

.header img{
    height: 3rem;
    width: 7.875rem;
}