.contentTarefa{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.75rem;
    background-color: var(--gray-500);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.contentTarefa  p {
    width: 100%;
    text-align: left;
    size: 0.875rem;     
    
    margin-top: -2px;
}

.contentTarefa input {
    display: none;
}

.contentTarefa input + p::before {
    content: '';   
    border-radius: 50px;    
    height: 14.82px;
    width: 14.82px;
    border: solid 2.63px var(--blue);
    margin-right: 15px;    
    vertical-align: middle;
    display: inline-block;
    
    
    

}

.contentTarefa input:checked + p{
    text-decoration: line-through;
    color: var(--gray-300);
}

.contentTarefa input:checked + p::before {
    background-color: var(--purple-dark);
    border: solid 2.63px var(--purple-dark);
    background-image: url(../assets/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.contentTarefa > button{
    border: 0;
    color: var(--gray-300);
    background-color: transparent;
    padding: 0.313rem 0.375rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: color 0.2s , background-color 0.2s;
}

.contentTarefa > button:hover {
    background-color: var(--gray-400);
    color: var(--danger);
}