.toDoList{
    max-width: 800px;
}

.divForm {
    margin-bottom: 4rem;
    margin-top: -60px;
}

.divForm form {
    width: 100%;
    display: flex;    
    gap: 8px;
    
}

.divForm input[type=text]{  
    
    width: 100%;
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    color: var(--gray-300);
    padding: 1rem;
    
    
}
.divForm form button{    
    display: flex;
    padding: 1rem;
    gap: 8px;
    align-items: center;
    color: var(--gray-100);
    background-color: var(--blue-dark);
    border: 0;
    width: 5.625rem;
    height: 3.25rem;
    border-radius: 8px;
    
    font-weight: bold;
    
    
}



.toDoList header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.063rem;
    font-weight: bold;
    margin-bottom: 25px;
    
    
}

.toDoList header div:first-child{
    display: flex;
    color: var(--blue);
    gap: 8px;  
    
}

.toDoList header div:last-child{
    color: var(--purple);
    font-weight: bold;
    font-size: 1.063rem;
}


.toDoList header span {
    border-radius: 999px;
    width: 1.5rem;
    height: 1.188rem;
    font-size: 0.938rem;
    padding: 2px 8px;
    color: var(--gray-200);
    background-color: var(--gray-400);
}